/* Gold: #FFD700
  Maroon: #800000
*/

body {
  background: #ddd;
  background-image: url("/app/assets/bg.png");
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  
}

.row {
  display: inline;
  
  display: flex;
  flex-direction: row;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #800000;
  overflow: hidden;
  width: 100%
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FFD700;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFD700;
  color: #800000;
  cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: goldenrod;
}

form input, textarea, select {
  padding: 15px;
  margin: 20px;
  display: inline;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  align-items: left;
}

textarea {
  border: 2px;
  border-style: bold;
}

#thoughts, #positives, .widetextarea {
  height: auto;
  width: 300px;
  border: 2px;
}

#name, #meet, #event, #goal, #searchbar, #turnpoint {
  width: 300px;
}

#name p, #meet p, #event p, #goal p, #searchbar p, #turnpoint p {
  width: 500px;
}

input {
  width: auto;
}

#racelist, #searchbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  align-items: left;
}

#searchbar input {
  padding: 10px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;

  flex-direction: row;
  flex-flow: column wrap;
  align-items: left;
  
  height: 30px
}

#searchbar input, form input, textarea, select {
  border-radius: 15px;
}

#racelist {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  padding: 30px;
  columns: 2;
}

#racelist a {
  padding: 5px;
}

#submitted {
  color: #555;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submitbutton input, #edit, #back {
  width: auto;
  background-color: #800000;
  color: #FFD700;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

#edit, #back {
  border-radius: 15px;
}

.pt-3-half {
  padding-top: 1.4rem;
}

.racecard {
  color: #800000;
}